    /***********************************************
*Copyright 2021 - Chris Williamson
*NO BS libraries under open source license
*All I ask is give credit where credit is due.
*You may use this for personal or commercial
************************************************/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    html,
    body {
        width: 100%;
        min-height: 100%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    /********************
***CSS variables
*********************/
    
     :root {
        /*Navbar main background color*/
        --color1: black;
        /*Navbar secondary color*/
        --color2: rgb(47, 88, 201);
    }
    
    @media only screen and (min-width: 900px) {
        #navbar {
            width: 100%;
            height: 60px;
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            display: flex;
            justify-content: space-between;
        }
        #logo {
            height: 60px;
            color: white;
            font-size: 30pt;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #linkWrapper {
            width: 75%;
            height: 60px;
            display: flex;
            justify-content: right;
        }
        #respMenu {
            display: none;
            height: 40px;
            width: 50px;
        }
        #respMenu img {
            height: 100%;
            width: 100%;
        }
        #navLinks {
            display: block;
            width: 90%;
            height: 100%;
            list-style-type: none;
            display: flex;
            justify-content: right;
            flex-direction: row;
        }
        #navLinks li {
            height: 100%;
            width: 125px;
            font-size: 10pt;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: var(--color2);
        }
        #navLinks li:hover {
            background-color: var(--color2);
            color: var(--color1);
        }
        .active {
            background-color: var(--color1);
        }
        .inactive {
            background-color: var(--color1);
        }
    }
    
    @media only screen and (max-width: 900px) {
        #navbar {
            width: 100%;
            height: 60px;
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            display: flex;
            justify-content: space-between;
        }
        #logo {
            height: 60px;
            color: white;
            font-size: 30pt;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #linkWrapper {
            width: 75%;
            height: 60px;
            display: flex;
            justify-content: right;
        }
        #respMenu {
            display: none;
            height: 40px;
            width: 50px;
        }
        #respMenu img {
            height: 100%;
            width: 100%;
        }
        #navLinks {
            display: block;
            width: 90%;
            height: 100%;
            list-style-type: none;
            display: none;
            justify-content: right;
            flex-direction: column;
        }
        #navLinks li {
            height: 100%;
            width: 125px;
            font-size: 10pt;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-top: 20px;
            padding-bottom: 20px;
            color: var(--color2);
        }
        #navLinks li:hover {
            background-color: var(--color2);
            color: var(--color1);
        }
        .inactive {
            background-color: var(--color1);
        }
        #navBar {
            display: block;
        }
        #linkWrapper {
            display: block;
            float: right;
            position: absolute;
            width: 100%;
        }
        #linkWrapper ul {
            position: relative;
            top: 30px;
            width: 100%;
        }
        #navLinks li {
            height: 100%;
            width: 100%;
            font-size: 10pt;
            font-weight: bold;
            color: var(--color2);
            background-color: var(--color1);
            border-top: 1px solid var(--color2);
        }
        #respMenu {
            display: block;
            position: relative;
            top: 15px;
            right: 10px;
            float: right;
            width: 40px;
            height: 30px;
        }
        .active {
            background-color: var(--color2);
        }
    }